@font-face {
  font-family: "bahnschrift";
  src: url("/fonts/bahnschrift.ttf");
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: bahnschrift;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #271820;
  /* background-color: #1c1117; старый цвет */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.login__main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}

.login__google-button {
  font-size: 24px;
  color: #fff;
}

.sidebar {
  width: 360px;
  height: 100%;
  flex-shrink: 0;
}

.map-main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map-wrapper {
  width: 1400px;
  height: 100%;
  padding: 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.map-top {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* map-bot */

.map-bot {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map-bot__hunting-btn {
  font-size: 24px;
}

.map-bot__counters {
  display: flex;
  flex-direction: row;
}

.map-bot__counter {
  color: #fff;
  margin: 0;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-bot__counter-blood {
  width: 30px;
  margin-right: 5px;
}

.map-bot__counter-meat {
  width: 30px;
  margin-left: 30px;
  margin-right: 5px;
}

.map-bot__counter-btn {
  font-size: 24px;
  margin: 0 25px;
}

/* textures */

.victim-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #422835;
}

.victim-background__top {
  width: calc(100% - 42px * 2);
  height: 150px;
  background-image: url(/images/room/top.png);
  background-repeat: repeat;
  background-size: auto 150px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.victim-background__right-top {
  width: 42px;
  height: 65px;
  background-image: url(/images/room/right-top.png);
  background-size: 42px 65px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.victim-background__right {
  height: calc(100% - 210px);
  width: 42px;
  background-image: url(/images/room/right.png);
  background-repeat: repeat;
  background-size: 42px auto;
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 1;
}

.victim-background__right-bottom {
  width: 42px;
  height: 148px;
  background-image: url(/images/room/right-bottom.png);
  background-repeat: no-repeat;
  background-size: 42px auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.victim-background__bottom {
  width: calc(100% - 10px * 2);
  height: 150px;
  background-image: url(/images/room/bottom.png);
  background-repeat: repeat;
  background-size: auto 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.victim-background__left-bottom {
  width: 42px;
  height: 148px;
  background-image: url(/images/room/left-bottom.png);
  background-repeat: no-repeat;
  background-size: 42px auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.victim-background__left {
  height: calc(100% - 210px);
  width: 42px;
  background-image: url(/images/room/left.png);
  background-repeat: repeat;
  background-size: 42px auto;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
}

.victim-background__left-top {
  width: 42px;
  height: 65px;
  background-image: url(/images/room/left-top.png);
  background-size: 42px 65px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.victim-background__floor {
  width: 100%;
  height: 40px;
  background-image: url(/images/room/floor-wall.png);
  background-size: auto 40px;
  background-repeat: repeat;
  position: absolute;
  top: 150px;
  left: 0;
}

.victim__wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 160px 40px;
}

.victim__slot {
  width: 100px;
  height: 107px;
  display: flex;
  margin: 0 60px;
  z-index: 5;
  border: 1px solid red;
}

.victim__man {
  width: 100px;
  height: 107px;
  /* background-image: url(/images/victims/victim-type-1.png); */
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  cursor: pointer;
}

.victim__name {
  position: absolute;
  width: 200%;
  text-align: center;
  top: 105%;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
}

.victim__name img {
  width: 15px;
  margin-bottom: -4px;
  margin-right: 3px;
}

.sidebar-upgrades {
  color: #fff;
  height: 100%;
  overflow-y: hidden;
  padding-right: 15px;
  padding: 5px 7px;
  background: #4a313c;
  border: 8px #5a424f solid;
}

.sidebar-upgrades-menu {
  height: 100%;
}

.sidebar-upgrades-menu__list {
  height: 100%;
}

.sidebar-upgrades-menu__list > div > div:first-child {
  padding-bottom: 30px;
}
.sidebar-upgrades-menu__list > div > div:last-child > div {
  background-color: rgba(39, 24, 32, 0.59);
}

.sidebar-upgrades-menu__name {
  text-align: center;
  font-size: 18px;
  margin: 6px 0;
}

.sidebar-upgrades-menu-item {
  cursor: pointer;
  border: 4px solid #7d616d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 5px;
  background: #5d434e;
}

.sidebar-upgrades-menu-item__left {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4a313c;
  background-color: #7d616d;
}

.sidebar-upgrades-menu-item__img {
  height: 50px;
}

.sidebar-upgrades-menu-item__right {
  padding-left: 10px;
  width: 100%;
}

.sidebar-upgrades-menu-item__name {
  margin: 0;
  font-size: 16px;
}

.sidebar-upgrades-menu-item__description {
  margin: 8px 0;
  font-size: 14px;
}

.sidebar-upgrades-menu-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.sidebar-upgrades-menu-item-info span {
  position: relative;
  padding-top: 5px;
  padding-right: 2px;
}

.sidebar-upgrades-menu-item__blood {
  width: 20px;
  position: absolute;
  right: -22px;
  top: 0;
}

.ui-button {
  color: #fff;
  border: 4px #5a424f solid;
  background: #4a313c;
  padding: 7px 19px;
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  outline: none;
}
.ui-button:hover {
  border: 4px #533d49 solid;
  background: #412b34;
}
.ui-button:active {
  border: 4px #3d2d36 solid;
  background: #2e1f25;
}
.ui-button:disabled {
  opacity: 0.5;
}











/* .rcs-custom-scroll {
  min-height: 0;
  min-width: 0; }
  .rcs-custom-scroll .rcs-outer-container {
    overflow: hidden; }
    .rcs-custom-scroll .rcs-outer-container .rcs-positioning {
      position: relative; }
    .rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
      opacity: 1;
      transition-duration: 0.2s; }
  .rcs-custom-scroll .rcs-inner-container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .rcs-custom-scroll .rcs-inner-container:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
      pointer-events: none;
      transition: height 0.1s ease-in;
      will-change: height; }
    .rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
      height: 5px;
      transition: height 0.15s ease-out; }
  .rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
    user-select: none; }
  .rcs-custom-scroll .rcs-custom-scrollbar {
    position: absolute;
    height: 100%;
    width: 6px;
    right: 3px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease-out;
    padding: 6px 0;
    box-sizing: border-box;
    will-change: opacity;
    pointer-events: none; }
    .rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
      right: auto;
      left: 3px; }
  .rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
    opacity: 1; }
  .rcs-custom-scroll .rcs-custom-scroll-handle {
    position: absolute;
    width: 100%;
    top: 0; }
  .rcs-custom-scroll .rcs-inner-handle {
    height: calc(100% - 12px);
    margin-top: 6px;
    background-color: rgba(78, 183, 245, 0.7);
    border-radius: 3px; } */